nav {
    z-index: 10;
}
nav ul {
    list-style-type:none;
    margin:auto;
    padding:auto;
    z-index: 10;
}
nav ul li {
    display:inline-block;
    position:relative;
    z-index: 10;
}

/* sub navigation */
nav li ul {    
    background-color:rgb(225,225,225);
    position:absolute;
    top:auto; /* make this equal to the line-height of the links (specified below) */
    width:100%;
    z-index: 10;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
    z-index: 10;
}
nav li li ul {
    position:absolute;
    top:auto;
    left:100%; /* make this equal to the width of the sub nav above */
    margin:0;
    z-index: 10;
}

/* style all links */
nav a {
    line-height:auto;
    padding:auto;
    margin:auto;
    z-index: 10;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
    z-index: 10;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px rgb(200,200,200);
    margin:auto;
    padding:auto;
    z-index: 10;
}
nav li li:last-child a {
    border-bottom:none;
    z-index: 10;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

.behind{
    z-index:-1;
    background-color:red;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
	background: #DDD;
	font-size: auto;
}
#wrap {
  margin: auto;
  display: inline-block;
  position: relative;
  height: auto;
  float: right;
  padding: auto;
  position: relative;
}

input[type="text"] {
  height: auto;
  font-size: auto;
  display: inline-block;
  font-weight: auto;
  border: none;
  outline: none;
  color: #555;
  padding: auto;
  padding-right: auto;
  width: 100%;
  position: absolute;
  top: auto;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: auto;
  width: 100%;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
