{%  extends "layout.html" %}

 {%  block title %} Exercises {%  endblock %}

 {%  block content %}

 
<ul>
 <li><a href="/exercises/bis">Biceps</a></li>
 <li><a href="/exercises/tris">Triceps</a></li>
 <li><a href="/exercises/delts">Shoulders</a></li>
 <li><a href="/exercises/pecs">Chest</a></li>
 <li><a href="/exercises/lats">Back</a></li>
 <li><a href="/exercises/core">Core</a></li>
 <li><a href="/exercises/quads">Quadriceps</a></li>
 <li><a href="/exercises/hammies">Hamstrings</a></li>
</ul>


 {%  endblock %}
