 {%  extends "layout.html" %}

 {%  block title %}Home{%  endblock %}

 {%  block content %}
 <head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
 <body style='background-image:'http://cache2.asset-cache.net/xd/498546957.jpg?v=1&c=IWSAsset&k=2&d=0097B5F91B4CA496D39A4023EE143C4773E7DAAD5CA53869D9CEA5088AAC22C57B63038F93D354E6''>
  <h1>Welcome to SPIS Fitness!</h1>
  
  <p>Hoping to SPIS up your fitness, Andrew Toh and Chris Guan have created a workout webapp that creates random, expansive and 
  diverse workouts for YOU to enjoy!
  </p>
  
  <p>Most of these exercises requre basic gym equipment such as a barbell and plates and/or dumbbells.
  Please have proper gym etiquette, being aware and kind to others at the gym.
  Keep in mind quality over quantity; You should not do any more reps if it compromises your form nor should you use a heavy weight you cannot control. </p>
  
  <p>If you are unsure how to do a certain exercise, head to our "Exercises" tab!
  There, you will find links to each muscle group and their respective exercises.
  Those exercises are linked to pictures or videos we have found on Google for your educational needs.</p>
  
  <p>To get started, head to our <a href="/generator">generator</a>!</p>
  
  <p>*Recommended to watch High School Musical 4 while working out*</p>
  
  <img src="https://sistergeeks.files.wordpress.com/2015/08/zacefron-basketball.jpg" style= "max-width: 100%; height: auto">
 </body>
 {%  endblock %}
