 {%  extends "layout.html" %}

 {%  block title %}Home{%  endblock %}

 {%  block content %}
  <h1>Welcome to SPIS Fitness!</h1>
  <p>Hoping to SPIS up your fitness, Andrew Toh and Chris Guan have created a workout webapp that creates random, expansive and 
  diverse workouts for YOU to enjoy!
  </p>
  <p>Most of these exercises requre basic gym equipment such as a barbell and plates and/or dumbbells. If you are unsure how
  to do a certain exercise, please Google it. Diagrams and videos are on the way!</p>
  <p>To get started, head to our <a href="/generator">generator</a>!</p>
  <p>*Recommended to watch High School Musical 4 while working out*</p>

 {%  endblock %}
