<!doctype html>
<html>
  
<head>
  <title>{% block title %}{% endblock %} SPIS Fitness</title>
  <meta charset = "utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.ajaxEnabled = false;
});
</script>


  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  <script src="js/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Dropdown Menu JS -->
  <script>
      $(document).ready(function(){
        $('.dropdown').hover(
          function(){
            $(this).children('.sub-menu').slideDown(35,stop());
            },
          function(){
            $(this).children('.sub-menu').slideUp(35,stop());
            }
        );
        function stop(){
          $('.sub-menu').stop(true, true);
        }
      });
  </script>

</head>

<body id="page-top">
  
  <div id="container" data-role="page">
    {% include 'nav.html' %}
    <div id="content"  class="ui-content">
      <div id="content">{% block content %}{% endblock %}</div>
    </div><!-- content -->
  </div><!-- container -->
</body>

</html>
