 {%  extends "layout.html" %}

 {%  block title %} {%  endblock %}

 {%  block content %}
 <body>
  <form action method = "get">
   <input type=checkbox name="muscle-group" value=biceps>Biceps<br>
   <input type=checkbox name="muscle-group" value=triceps>Triceps<br>
   <input type=checkbox name="muscle-group" value=delts>Shoulders<br>
   <input type=checkbox name="muscle-group" value=pecs>Chest<br>
   <input type=checkbox name="muscle-group" value=lats>Back<br>
   <input type=checkbox name="muscle-group" value=core>Core<br>
   <input type=checkbox name="muscle-group" value=quads>Quadriceps<br>
   <input type=checkbox name="muscle-group" value=hammies>Hamstrings<br>
   <input type="submit" value="Generate!">
  </form>
 </body>

 {%  endblock %}
