 {%  extends "layout.html" %}

 {%  block title %} {%  endblock %}

 {%  block content %}
 <body>
  <form action="/your-workout" method="Get">
   <input type=checkbox name="bis" value=True checked>Biceps</input><br>
   <input type=checkbox name="tris" value=True checked>Triceps</input><br>
   <input type=checkbox name="delts" value=True checked>Shoulders</input><br>
   <input type=checkbox name="pecs" value=True checked>Chest</input><br>
   <input type=checkbox name="lats" value=True checked>Back</input><br>
   <input type=checkbox name="core" value=True checked>Core</input><br>
   <input type=checkbox name="quads" value=True checked>Quadriceps</input><br>
   <input type=checkbox name="hammies" value=True checked>Hamstrings</input><br>
   <input type="submit" value="Generate!">
  </form>
 </body>

 {%  endblock %}
