 {%  extends "layout.html" %}

 {%  block title %} {%  endblock %}

 {%  block content %}
 <body>
  <form action="/your-workout" method="Get" data-ajax="false">
   <input type=checkbox name="bis" value=True checked id="bis"></input><br>
   <!-- fixes formatting issue where 'Biceps' would not be on the same line as the checkbox -->
    <label for="bis"><span></span>Biceps</label>
    
   <input type=checkbox name="tris" value=True checked id="tris"></input><br>
    <label for="tris"><span></span>Triceps</label>
    
   <input type=checkbox name="delts" value=True checked id="delts"></input><br>
    <label for="delts"><span></span>Shoulders</label>
    
   <input type=checkbox name="pecs" value=True checked id="pecs"></input><br>
    <label for="pecs"><span></span>Chest</label>
    
   <input type=checkbox name="lats" value=True checked id="lats"></input><br>
    <label for="lats"><span></span>Back</label>
   
   <input type=checkbox name="core" value=True checked id="core"></input><br>
    <label for="core"><span></span>Core</label>
    
   <input type=checkbox name="quads" value=True checked id="quads"></input><br>
    <label for="quads"><span></span>Quadriceps</label>
    
   <input type=checkbox name="hammies" value=True checked id="hammies"></input><br>
    <label for="hammies"><span></span>Hamstrings</label>
    
   <input class="behind" type="submit" value="Generate!">
  </form>
 </body>

 {%  endblock %}
