<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/generator">Generator</a></li>
      <li><a href=">Exercises</a></li>
        <!-- <ul>
          <li><div><a href="/exercises/bis>Biceps</a></div></li>
          <li><div><a href="/exercises/tris>Triceps</a></div></li>
          <li><div><a href="/exercises/delts>Shoulders</a></div></li>
          <li><div><a href="/exercises/pecs>Chest</a></div></li>
          <li><div><a href="/exercises/lats>Back</a></div></li>
          <li><div><a href="/exercises/core>Core</a></div></li>
          <li><div><a href="/exercises/quads>Quadriceps</a></div></li>
          <li><div><a href="/exercises/hammies>Hamstrings</a></div></li>
        </ul> -->
      <li><a href="/search">Search</a></li>
    </ul>
 </nav>
</div>
