<!--

<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/generator">Generator</a></li>
      <li><a href="">Exercises</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
 </nav>
</div>

-->
<div data-role="header" class="header">
<nav data-role="navbar" data-grid-"d">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generator">Generator</a></li>
        <li class="dropdown">
            <a href="/exercises">Exercises ></a>
            <ul class="sub-menu">
                <li><a href="/exercises/bis">Biceps</a></li>
                <li><a href="/exercises/tris">Triceps</a></li>
                <li><a href="/exercises/delts">Shoulders</a></li>
                <li><a href="/exercises/pecs">Chest</a></li>
                <li><a href="/exercises/lats">Back</a></li>
                <li><a href="/exercises/core">Core</a></li>
                <li><a href="/exercises/quads">Quadriceps</a></li>
                <li><a href="/exercises/hammies">Hamstrings</a></li>
            </ul>
        </li>
	{% if logged_in %}
	<li class="dropdown" width="auto" height="auto">
          	<a href="#">
            		<img src="{{ session['user_data']['avatar_url'] }}&s=30" width="30px" height="30px" style="display: inline-block;" >
		</a>
		<ul class="sub-menu">
			<li><a href="/logout">Logout</a></li>
			<li><a href="#">Account</a></li>
	</li>
	{% else %}
	<li>
	<a href="/login" data-ajax="false">Login</a>
	</li>
	{% endif %}
    </ul>
</nav>
</div>
