 {%  extends "layout.html" %}

 {%  block title %}Your Workout{%  endblock %}

 {%  block content %}
<h>Your workout</h>

<ul>
 
 {% for w in Workout_list %}
 <li>
 <!-- Takes the user's workout & provides links for exercise from exercise_2_link dictionary-->
 <a href= '{{ exercise_2_link [w]}}'>{{ w }}</a><br>
 {% if is_video( exercise_2_link [w] ): %}
  <iframe width="100%" height="auto" src='{{ exercise_2_link [w]}}' frameborder="0" allowfullscreen></iframe>
 {% else %}
  <img src='{{ exercise_2_link [w]}}' style="max-width:auto; max-height:100%;">
 {% endif %}
 <br>
 <br>
 <br>
 <br>
 </li>
  
 {% endfor %}
 
</ul>

<form action="/muscle-group-checklist">
 <input class="behind" type="submit" value="Go back to Generator Checklist!">
</form>

 {%  endblock %}
