 {%  extends "layout.html" %}

 {%  block title %}Your Workout{%  endblock %}

 {%  block content %}
<p>Your workout is:</p>

<ul>
 
 {% for w in Workout_list %}
 <li>
  <!-- Takes the user's workout & provides links for exercise from exercise_2_link dictionary-->
  <a href= '{{ exercise_2_link [w]}}'>{{ w }}</a><br>
  <img src='{{ exercise_2_link [w]}}' style="width:auto;height:auto;">
  <iframe width="auto" height="auto"
src="{{ exercise_2_link [w]}}">
</iframe> 
 </li>
  
 {% endfor %}
 
</ul>

<form action="/muscle-group-checklist">
 <input class="behind" type="submit" value="Go back to Generator Checklist!">
</form>

 {%  endblock %}
